#direitoSalas {
    width: 75%;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: absolute;
    top: 50%;
    left: 57%;
    transform: translate(-50%, -50%);
}


#titleSalas {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
}

#blocoRowOne {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 110px;
}

#blocoRowTwo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 110px;
}

.boxBloco {
    font-family: "Inter", sans-serif;
    width: 281px;
    height: 303px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c2c2c2;
    color: #1A1479;
    border-radius: 12px;
    gap: 10px;
}

.boxBloco button {
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.blocoSala {
    display: flex;
    width: 244px;
    height: 32px;
    background-color: #328800;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}

.ocupada {
    background-color: #FF0000;
}